main {
  flex: 1;
}
.canvas {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  position: relative;
}
.fluxo-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 64px;
  column-gap: 60px;
  padding:24px;
  position: relative;
  align-content: flex-start;
  padding: 100px 24px 24px 48px;
  min-height: 100%;
}
  

.flow-icon {
  width: 50px;
  height: 50px;
}

.flow-label {
  flex: 1;
  text-align: left;
}

.flow-block {
  font-family: 'inter tight';
  color: white;
  width: 140px;
  font-weight: 700;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  position: relative;
  z-index: 1;
  gap: 3px;
}

.flow-block:active {
  cursor: grabbing;
}


.flow-block.drag-over {
  transform: scale(1.01);
  outline: 1px solid black;
}

.flow-fixo {
  font-family:  'inter tight';
  color: white;
  width: 140px;
  font-weight: 700;
  height: 50px;
  border-radius: 8px;
  background: #656E7B;
  cursor: default;
  touch-action: auto;
}

.flow-saida {
  font-family:  'inter tight';
  color: white;
  width: 80px;
  font-weight: 700;
  height: 50px;
  border-radius: 8px;
  background: black;
  cursor: default;
  touch-action: auto;
}

.flow-remove {
  position: absolute;
  display: flex;
  height: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  padding: 0;  
  top: 4px;
  right: 4px;
  width: 18px;
  height: 18px;
  border: none;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity .35s ease;
}

.flow-block.active .flow-remove {
  opacity: 1;
  pointer-events: auto;
}



.flow-block.arrastando .flow-remove {
  opacity: 1;
  pointer-events: auto;
  border: 1px solid white;
}
.flow-remove:active {
  background: rgba(0, 0, 0, 0.35);
}


.flow-block.bloco-verde {background: #53996F;}
.flow-block.bloco-azul { background: #3A68A2; }
.flow-block.bloco-vermelho { background: #C84744; }
.flow-block.bloco-amarelo { background: #E0C741}


#linhas-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
  z-index: 0;
}

#limpar-pipeline {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
  padding: 0;
}

#limpar-pipeline img {
  width: 100%;
  height: 100%;
  display: block;
}

#limpar-pipeline:active{
  transform: scale(1.05);
}
  