@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}
.app {
  display: flex;
  height: 100%;
}
html, body {
  font-family: 'Inter', system-ui, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
  visibility: hidden;
}
.main {
  background-color: white !important;
}
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  width: 100%;
  height: 70px;
  color: white;
  background-color: #111219;
  border: 1px solid rgba(229, 231, 235, 0.12);

}

.grupo-das-setas-nao-aguento-mais-fazer-esse-projetooo {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: auto;
  margin-left: 35px;
}

.topbar-project {
  display: flex;
  gap: 8px;
  align-items: center;
}

.setas {
  border: none;
  cursor: pointer;
  background: none;
  flex-shrink: 0;
}

.setas:active{
  transform: scale(1.2);
}

.setas img {
  width: 28px;
  height: 28px;
  column-gap: 3px;
}


.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  color: white;
  background-color: #111219;
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #111219;
  flex: 1;
}

.btn-group {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  overflow: hidden;
}

.btn-roxo {
  display: flex;
  font-family: "Inter";
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  background: #2ecc71;
  font-weight: 600;
}

.btn-roxo .btn-outline {
  border: none;
  background: transparent;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}

.btn-outline {
  cursor: pointer;
  color: white;
  background-color: #111219;
}  
.salvamento {
  background-color: #2ecc71;
}
.salvamento:active {
  background-color: #2CC46D;
}

.executar {
  display: none;
  opacity: 100%;
  font-size: 15px;
  height: 30px;
  color: white;
  background: #2ecc71; /* um dos verdes mais fodas que tem é esse aquikkkk*/
  cursor: pointer;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
}



.executar:active {
  transform: scale(0.97);
  background: #2CC46E;
}




.inverter {
  background: #2c3e9b;
  width: 120px;
  flex: 0 0 120px;
  font-weight: 600;
  font-size: 15px;
  height: 30px;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}


.inverter:active {
  transform: scale(0.97);
}

.inverter.inverter-ativo {
  background: #632C9B;
}

.inverter.inverter-ativo:active {
  transform: scale(0.97);
}
